table.table
  thead
    tr
      td 藏頭
      td 全文
      td 生成時間
      td 掌聲
      td
      tbody = render partial: "poem", collection: poems, as: :poem
= paginate poems, params: {controller: 'poems', action: "index"}
