tr
  td = poem.short
  td = poem_layout(poem.full, new_line: false)
  td = poem.created_at.to_s(:short)
  td.poem-clap class="poem-#{poem.id}-clap" = poem.clap
  td = button_to "clap", clap_poem_path(poem), class: "btn btn-outline-dark btn-sm", remote: true, method: :post
