- flash.each do |k, v|
 = content_tag(:div, class: "alert alert-danger fade show") do
   = v
.jumbotron
  h1 唐詩生成
  p
    = "Final Project of "
    = link_to('Special Direction on Machine Learning, 2018 Fall', 'https://www.csie.ntu.edu.tw/~sdlin/Courses/SDML.htm')
  h6 組員（羅馬字母序）
  p 張雅量 Chang, Ya-Liang / 陳家陞 Chen, Chia-Sheng / 林俊辰 Lin, Chun-Chen
.row
  .col-12.col-lg-6
    h1 輸入藏頭
    = form_for @new_poem, url: {action: "create"} do |f|
      .form-group
        label 絕句 / 律詩
        = f.select :genre, ["絕句","律詩"], {}, {class: "form-control"}
      .form-group
        label 作者風格
        = f.collection_select :author_id, Author.all.order(amount: :desc), :id, :name, {}, {class: "form-control"}
      .form-group
        label 藏頭句子
        small = " 絕句請輸入四字，律詩請輸入八字"
        = f.text_field :short,  class: "form-control"
      = f.submit "送出", class: "btn btn-primary"

  .col-12.col-lg-6
    - if @poem
      h1 生成結果
      p = raw poem_layout

.row
  .col-12
    h1 排行榜
    #poem-rank = render partial: "poems_table", locals: {poems: @poems}
